* {
    margin: 3px;
    box-sizing: border-box;
    padding: 0 0 5px;
}

#root {
    justify-content: space-between;
}

.App {
    width: 800px;
}

.post {
    height: 100%;
    display: flex;
    padding: 15px;
    border: 2px solid black;
    border-radius: 30px;
    margin-top: 15px;
    justify-content: space-between;
}

.post-enter {
    transform: translateX(-350px);
}
.post-enter-active {
    transform: translateX(0px);
    transition: all 700ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-350px);
    transition: all 700ms ease-in;
}

.page__wrapper {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
    /*display: flex;*/
    padding-left: 10px;
    padding-right: 10px;
}

.page {
    margin: 4px;
    text-align: center;
    padding: 13px;
    border: 1px solid black;
    border-radius: 50px;
    cursor: pointer;
}

.page__current {
    border: 2px solid crimson;
    font-weight: bold;
}

.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.navbar__links {
    margin-left: auto;
}
