.myBtn {
    padding: 5px 15px;
    color: darkslategray;
    font-size: 14px;
    background: pink;
    border: 1px solid darkred;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 5px;
}